
//    Font Family

$primary-font	: 'Roboto', sans-serif;
$title-font     : 'Poppins', sans-serif;

/*--------------------------- Variaveis de cores ----------------------*/

$primary-color	: #fbff00;
$primary-color2	: #fffb00;
$primary-color3	: #fff;
$title-color	: #f5d85a;
$text-color		: #777777;
$baseColor: #f5ea4e; 
$dip: #222222;
$pfont: #777777;
$white			: #fff;
$black			: #000;
$offwhite: #fcfcfc;

/*--------------------------- Fontes ----------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500');





